<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <!-- <h3>ユーザID</h3>
        <div>
            <input type="text" id="userId" />
        </div> -->
        <h3>認証オプション</h3>
        <div>
            <input type="radio" name="userVerification" value="required" checked>ユーザ認証を必須とする
            <input type="radio" name="userVerification" value="preferred">可能ならユーザ認証を要求する
            <input type="radio" name="userVerification" value="discouraged">ユーザ認証を要求しない
        </div>
        <h3>ログイン</h3>
        <div>
            <button id="login" onclick="login()">Login with Passkey</button>
        </div>
        <div id="api_response" hidden>
            <h3>APIレスポンス</h3>
            <div>
                <li id="verified"></li>
                <li id="username"></li>
            </div>    
        </div>

        <script src="../client.js"></script>
        <script>
            async function login() {
                $("#api_response").hide();
                let userVerification = $("input[name='userVerification']:checked").val();
                try {
                    const result = await loginWithPasskey(userVerification);
                    $("#verified").text("verified : " + result.verified);
                    $("#username").text("username : " + result.username);
                    $("#api_response").show();
                } catch (e) {
                    alert(e.message);
                    console.error(e);
                }
            }
    </script>
    </body>
</html>